th{
    text-align: center;
}
#pano{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 2;
}
.min-width-for-search{
    min-width: 450px;
}
.min-width-for-btns{
    min-width: 300px;
}